@-moz-document domain("elk.zone") {
.dark {
    --c-primary: rgb(35,145,223) !important;
    --c-primary-active: rgb(35,145,223) !important;
    --c-primary-light: var(--c-dark-primary-light);
    --c-primary-fade: var(--c-dark-primary-fade);
    --c-border: rgb(15,59,58);
    --c-border-dark: rgb(15,59,58);
    --rgb-bg-base: rga(17,17,17);
    --c-bg-active: rgb(40,40,40);
    --c-bg-card: #ffffff06;
    --c-bg-code: #ffffff06;
    --c-bg-dm: rgb(15,59,58);
    --c-bg-base: rgb(15,59,58);
    --c-text-base: rgb(224,224,224);
    --c-text-secondary: rgba(108,112,117);
    --c-text-secondary-light: rgba(108,112,117);
    --c-bg-btn-disabled: rgb(40,40,40);
    --c-text-btn-disabled: rgba(35,145,223, 0.612);
}

html {
    background-color: black;
    color: rgb(224,224,224);
}

#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div{
  overflow-y: hidden;
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide {
    background-color: rgb(40,40,40);
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:none.lg\:block.w-1\/4.zen-hide {
    display: none;
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide {
    width: auto;
    border-right: solid 1px rgb(15,59,58);
}
.sm\:mxa, [sm\:mxa=""] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#__nuxt > div:nth-child(2) > main > div {
  margin: auto;
  width: 90%;
  padding: 0px;
}
[p~=l-3] {
  margin: auto;
  width: 100%;
  padding: 5px;
}
.vue-recycle-scroller.ready.direction-vertical .vue-recycle-scroller__item-view {
    width: 100%;
}
.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper {
    width: 100%;
    margin-left: auto;
}
#__nuxt > div:nth-child(2) > main > div > div:nth-child(1) > div > div:nth-child(1), #__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > nav > div:nth-child(1), #__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > nav > div:nth-child(4) {
    /* backdrop-filter: blur(50px); */
    display: none;
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > div:nth-child(1) {
    display: none;
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > nav > a:nth-child(10) > div > div {
    background: rgb(54,159,230);
    border-radius: 100px;
    height: 50px;
    width: 50px
}
.i-ri\:quill-pen-line {
    min-width: 2.40rem;
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > nav > a.text-primary.router-link-exact-active > div > div {
    background-color: rgb(31,31,31);
}
#__nuxt > div:nth-child(2) > main > aside.hidden.sm\:flex.w-1\/8.md\:w-1\/6.lg\:w-1\/5.xl\:w-1\/4.justify-end.xl\:me-4.zen-hide > div > div > nav > a:nth-child(3) {
    display: none;
}
.justify-between, [justify-between=""] {
    justify-content: unset;
}
.flex-1, [flex-1=""], [flex~="1"] {
    flex: inherit;
}
#status-109745022936552748 > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(2) > button {
    margin-top: 5px;
    border-radius: 30px;
    background-color: blue;
}
#status-109745072610356122 > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div.status-media-container.status-media-container-1 > div > button > img, #status-109745017181951031 > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div.status-media-container.status-media-container-1 > div > button > img {
    aspect-ratio: 15 / 10 !important; 
    object-position: 50% 50% !important;
}
[rounded-lg=""] {
    border-radius: 1rem;
}
div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > a{
    border: solid var(--c-bg-dm)1px;
}

}

@-moz-document url-prefix("https://elk.zone/home") {
#__nuxt > div:nth-child(2) > main > div > div:nth-child(1) > div > div.sm\:max-w-600px.md\:shrink-0 > div > div:nth-child(1) {
    display: none;
}
}
